{% extends 'base_layout.html' %}

{% block content %}
<title>Articles</title>
  <body>
      <div class="container pb-1 pt-1 pb-md-5 pt-md-5">
        <div class="row text-center">
          <div class="col-12">
            <h1 >Articles</h1>
          </div>
        </div>
        <div class="row text-justify">
          <div class="col-12">
            <div class="articles">
                {% for article in articles %}
                  <div class="article">
                    <h2><a href="{% url 'articles:detail' slug=article.slug %}">{{article.title}}</a></h2>
                    <p>{{article.snippets}}</p>
                    <p>{{article.date}}</p>
                    <p class="author">added by {{article.author.username}}</p>
                    {% if user.is_authenticated%}
                    <a href="{% url 'articles:delete_article' slug=article.slug %}">
                      <button type="button" class="btn btn-danger">Delete</button></a>
                  {%else%}
                  {%endif%}
                  </div>
                {% endfor %}
          </div>
          </div>
        </div>
      </div>
  </body>
{% endblock %}