{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/57e7c598f3.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{% static 'style.css' %}">
   <!-- xl|lg|md|sm -->

    <title>Articles</title>
    <!--link rel="stylesheet" href="{% static 'styles.css' %}"-->
  </head>
  <body>
    <header class="wrapper">
      <div class="p-1" id="topHeader">
        <div class="container">
          <div class="row">
            <div class="col-12 text-right">
              <h1><a class="p-1" href="{% url "home" %}">LOGO</a></h1>
            </div>
          </div>
        </div>
      </div>

      <div id="bottomHeader">
          <div class="container-fluid">
            <nav class="navbar navbar-dark  navbar-expand-md" style="background-color:#2980b9">
              <!--menu hamburger-->
              <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav">
                  {% if user.is_authenticated%}
                  <li class="nav-item">
                  <form class="logout link "action="{% url 'accounts:logout'%}" method="post">
                    {% csrf_token%}
                    <button style="color:rgba(255,255,255,.5)" class="btn btn-link" type="submit">Logout</button>
                  </form>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="{% url "articles:create" %}" class="highlight" >New article</a></li>

                  {%else%}
                  <li class="nav-item"><a class="nav-link" href="{% url "accounts:login" %}">Login</a></li>
                  <li class="nav-item"><a  class="nav-link" href="{% url "accounts:signup" %}">Sign Up</a></li>
                  {% endif %}
                </ul> 
              </div>
            </nav>
          </div>
      </div>
    </header>
    <div class="wrapper">
      {% block content %}
      {% endblock%}
    </div>

    <footer class="full-footer">
      <div class="container top-footer p-md-3 p-1">
        <div class="row ">
          <div class="col-md-3 pl-4 pr-4">
            <h3>LOGO</h3>
          <!-- img responsive class img-fluid-->
          <p>Write something<!--a href="#">Read more</a--></p>
          <a class="p-1" style="color:silver" href="#"><i class="fab fa-3x fa-facebook"></i></a>
          <a class="p-1" style="color:silver" href="#"><i class="fab fa-3x fa-instagram"></i></i></a>
          <a class="p-1" style="color:silver" href="#"><i class="fab fa-3x fa-google-plus-square"></i></i></a>
          </div>
          <div class="col-md-3 pl-4 pr-4">
            <h3>Important Links</h3><br>
            <a href="#">Privacy Policy</a><br>
            <!--a href="#">YouTube channel</a><br>
            <a href="#">Blog articles</a><br-->
            <a href="#">Social Media</a>
          </div>
          <div class="col-md-3 pl-4 pr-4">
            <h3>Our Services</h3><br>
            <a href="#">Coaching online</a><br>
            <a href="#">Massages</a>
           
          </div>
          <div class="col-md-3 pl-4 pr-4">
              <h3>Contact us</h3><br>
            <a class="p-2" href="tel:+1-2025550116"><i class="fas fa-phone"></i></i>+1-2025550116</a><br>
            <a class="p-2" href="mailto:abc@gmail.com"><i class="fas fa-envelope-square"></i>abc@gmail.com</a><br>
            <!--div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1348419397327!2d-75.57417678523069!3d6.2459553954789255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e4428551d4336d3%3A0x3265bf68e7f1f910!2sParque%20De%20Las%20Luces%2C%20Medell%C3%ADn%2C%20Antioquia%2C%20Colombia!5e0!3m2!1sen!2sit!4v1585173609494!5m2!1sen!2sit" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>" 
            <!--Copy from google maps link-->
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bottom-footer pt-2">
        <div class="row text-center">
          <div class="col-12">
            <p> Copyrights © 2018 - All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>